* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #262626; /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #f7e9e6; /* Fondo claro para el contenedor */
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
  }
  
  .username {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin-top: 10px;
  }
  
  main {
    width: 100%;
  }
  
  .links a {
    display: block;
    background-color: #b54531; /* Color de botones */
    color: #fff;
    padding: 15px 0;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .links a:hover {
    background-color: #e95940; /* Color de hover en botones */
  }
  
  footer {
    margin-top: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }
  
  .social-icons a {
    font-size: 1.5rem;
    color: #3a6351;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #2d4d3a;
  }
  